<div class="shadow grid divide-x self-start row-span-full">

    <h2 class="text-gray-800 text-2xl px-3 py-5 font-bold ">Navigation</h2>

    <ul>
        <li class="px-3 py-4 border-primary border-l-[4px] bg-gray-200 inline-block w-full text-green_gray-700">
            <a href="{% url 'dashboard' %}">Dashboard</a>
        </li>

        <li class="px-3 py-4 hover:border-primary hover:border-l-2 bg-white inline-block w-full text-green_gray-700">
            <a href="{% url 'order-summary' %}">Order history</a>
        </li>

        <li class="px-3 py-4 hover:border-primary hover:border-l-2 bg-white inline-block w-full text-green_gray-700">
            <a href="{#% url 'wishlist' %#}">Wishlist</a>
        </li>

        <li class="px-3 py-4 hover:border-primary hover:border-l-2 bg-white inline-block w-full text-green_gray-700">
            <a href="">Shopping cart</a>
        </li>

        <li class="px-3 py-4 hover:border-primary hover:border-l-2 bg-white inline-block w-full text-green_gray-700">
            <a href="{% url 'settings' %}">Settings</a>
        </li>

        <li class="px-3 py-4 hover:border-primary hover:border-l-2 bg-white inline-block w-full text-green_gray-700">
            <a href="">Logout</a>
        </li>
    </ul>

</div>